<DOCTYPE! html>
    <html>
        <body>
            <h1>New Article</h1>
                <form action="/admin/new" method="POST">
                    <textarea name="title" rows="1" cols="50">Article Title</textarea><br>
                    <textarea name="date" rows="1" cols="50">Date: dd/mm/YYYY, HH:MM</textarea><br>
                    <textarea name="text" rows="20" cols="50">Content</textarea><br><br>
                    <input type="submit" value="Publish"> {% if Publish %} {{Publish}} published. {% endif %}              
                </form>
                <button onclick="window.location.href='/admin'">Return</button>

        </body>
    </html>